<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}PCBuilder{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul class="sidebar-nav">
                    <li class="nav-item">
                        <a href="{% url 'pcbknowledge:index' %}">Home</a>
                    </li>
                    <br>
                    <li><a href="/api/core/">API Core</a></li>
                    <li><a href="/api/knowledge/">API Knowledge</a></li>
                    <li><a href="{% url 'pcbcore-api:user-registration' %}">User Registration</a></li>
                    <br>
                    <li><a href="/admin/">Admin UI</a></li>
                    <li><a href="/expert/">Expert UI</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10">
                <br>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>