{% extends "base_generic.html" %}

{% block content %}
<h1>Welcome to PCBuilder.</h1>
<p>Tiny expert system :з</p>
<h2>The library has the following components:</h2>
<ul>
    <li><strong>Brand count:</strong> {{ brand_count }}</li>
    <li><strong>Socket count:</strong> {{ socket_count }}</li>
    <li><strong>CPU count:</strong> {{ cpu_count }}</li>
    <li><strong>GPU count:</strong> {{ gpu_count }}</li>
    <li><strong>MemoryType count:</strong> {{ memory_type_count }}</li>
    <li><strong>RAM count:</strong> {{ ram_count }}</li>
    <li><strong>Form Factor count:</strong> {{ formfactor_count }}</li>
    <li><strong>Chipset count:</strong> {{ chipset_count }}</li>
    <li><strong>MotherBoard count:</strong> {{ mother_board_count }}</li>
    <li><strong>SSD count:</strong> {{ ssd_count }}</li>
    <li><strong>HDD count:</strong> {{ hdd_count }}</li>
    <li><strong>Power Supply count:</strong> {{ power_supply_count }}</li>
</ul>
{% endblock %}