{% extends "base_generic.html" %}
{% block content %}
<div class="row">
    <div class="col-8">
        <div class="jumbotron">
            <h2 class="display-4">{{ question }}</h2>
            {% if question.description %}<p class="lead">{{ question.description }}</p>{% endif %}
            <hr class="my-4">
            {% if question.component_variable %}
            <form action="{% url 'pcbknowledge:questions' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col">
                        <label for="component">{{ question.component_variable }}</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col">
                            {% if question.component_variable.type == "bool" %}
                                <input name="component" type="checkbox" class="form-control">
                            {% else %}
                            <input id="component" name="component" type="text" class="form-control" placeholder="Type: {{ question.component_variable.type }}">
                            {% endif %}
                        </div>
                        <input type="hidden" name="question_id_next" value="{{ question.next.id }}">
                        <input type="hidden" name="question_id" value="{{ question.id }}">
                        {% if question.next.id %}
                        <button class="btn btn-primary col-2" name="next">Next</button>
                        {% else %}
                        <button class="btn btn-success col-2" name="build">Build</button>
                        {% endif %}
                    </div>
                </div>
            </form>
            {% endif %}
            {% if question.essences %}
            {% for essence in question.essences.all %}
            <form action="{% url 'pcbknowledge:questions' %}" method="post">
                {% csrf_token %}
                <div class="form-check">
                    <div>
                        {% for factor in essence.factors.all %}
                        {% endfor %}
                        <input type="hidden" name="component_data" value="{{ essence.id }}">
                        <input type="hidden" name="component" value="{{ essence }}">
                        <input type="hidden" name="question_id_next" value="{{  essence.next_question.id }}">
                        <input type="hidden" name="question_id" value="{{ question.id }}">
                        {% if essence.next_question.id %}
                        <button class="btn btn-primary col-12 my-1" name="next">{{ essence.title }}</button>
                        {% else %}
                        <button class="btn btn-success col-2" name="build">Build</button>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron">
            <h2 class="display-4">Response history</h2>
            <hr class="my-4">
            {% for key, value in history.items %}
            <div class="card my-3">
                <div class="card-body py-1">
                    <h5 class="card-title pt-2">{{key}} | {{value.0}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}